.how {
  margin-top: 351px;

  &__heading {
    margin: 0;
    padding: 0;
    color: #83888f;
    font-family: "Fraunces";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    padding-left: 85px;
  }

  &__chiziq {
    width: 760px;
    height: 2px;
    background-color: #fdd6ba;
    margin-bottom: 82px;
    position: relative;
    margin-left: 115px;
    margin-top: 95px;
  }

  &__span {
    width: 31px;
    height: 31px;
    border: 2px solid #0e8784;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    position: absolute;
    margin-top: -14px;
    margin-left: -27px;
  }

  &__span:nth-child(2) {
    margin-left: 349px;
  }

  &__span:nth-child(3) {
    margin-left: 755px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-left: 55px;
  }

  &__item + &__item {
    margin-left: 95px;
  }

  &__number {
    margin: 0;
    padding: 0;
    color: #fdd6ba;
    font-family: "Fraunces";
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    margin-bottom: 38px;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: #333d4b;
    font-family: "Fraunces";
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    width: 255px;
    margin-bottom: 42px;
  }

  &__text {
    margin: 0;
    padding: 0;
    color: #333d4b;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 285px;
  }

  &__btn {
    border-radius: 6px;
    background: #0e8784;
    color: #fefcf7;
    text-align: center;
    font-family: "Fraunces";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    padding: 15px 31px;
    border: none;
    cursor: pointer;
    margin-top: 68px;
    display: block;
    margin-left: 85px;

    &:hover {
      border-radius: 6px;
      background: #66d2cf;
    }
  }

  &--dark {
    .how__heading {
      color: #fff;
    }

    .how__title {
      color: #fff;
    }

    .how__text {
      color: #fff;
    }

    .how__span {
      background-color: black;
    }
  }
}
